@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    background: url('birutua.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f5f5f5;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #0004ec;
    box-shadow: 0 8px 16px rgb(0, 102, 185);
    border-radius: 10px;
    margin-top: 50px;
    transition: transform 0.3s ease;
    text-align: center;
}

.container:hover {
    transform: translateY(-10px);
}

h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}

input, textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    text-align: center;
}

input:focus, textarea:focus {
    border-color: #28a745;
    outline: none;
}

button {
    padding: 10px 20px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: background 0.3s ease;
}

button:hover {
    background: #218838;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 300px;
    height: auto;
}